@model List<ApplianceX.Client.Main.Models.CategoryModel>

<div class="row g-6">
    <div class="col-12">
        <div class="position-relative">
            <div class="slider-8-columns" id="slider-8-columns">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <a href="@Url.Action("OpenCategory", "Home", new {category = item.Title})" class="text-decoration-none text-inherit">
                            <div class="card mb-3 card-lift">
                                <div class="card-body text-center py-6 text-center">
                                    <div class="my-5">
                                        <img src="@item.Cover" alt="Cover Image">
                                    </div>
                                    <div style="white-space: nowrap;">@item.Title</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>