@{
    ViewData["Title"] = "Privacy Policy for Appliance X";
}
<h1>@ViewData["Title"]</h1>

<h5>Introduction</h5>
<p>Welcome to Appliance X, owned and operated by Maksym Voznyi Company Ltd. ("we", "our", "us"). We are committed to protecting and respecting your privacy.
    This Privacy Policy explains how we collect, use, and safeguard your information when you visit our website.
    By using our website, you agree to the terms of this Privacy Policy.
</p>
<br>
<h5>1. Information We Collect</h5>
<p>We may collect and process the following data about you: <br>

    Personal Identification Information: Name, email address, phone number, and any other information you provide when filling out forms on our website.
    <br>
    Technical Data: IP address, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform, and other technology on the devices you use to access this website.
    <br>
    Usage Data: Information about how you use our website, products, and services. <br>
    Marketing and Communications Data: Your preferences in receiving marketing from us and your communication preferences.</p>
<br>
<h5>2. How We Collect Information</h5>
<p>We use different methods to collect data from and about you, including through: <br>

    Direct Interactions: You may give us your personal data by filling in forms or by corresponding with us by post, phone, email, or otherwise.
    <br>
    Automated Technologies or Interactions: As you interact with our website, we may automatically collect technical data about your equipment, browsing actions, and patterns. We collect this personal data by using cookies, server logs, and other similar technologies.</p>
<br>
<h5>3. How We Use Your Information</h5>
<p>We use the information we collect in the following ways:</p><br>
<p>To Provide and Maintain Our Service: We use your information to ensure the proper functioning of our website, provide customer support, and maintain the security of our services.<br>
    To Improve User Experience: We analyze the data on how you interact with our website to improve its performance, functionality, and user-friendliness. <br>
    To Personalize Content: We use your information to personalize the content and advertisements you see on our website based on your preferences and interests.<br>
    To Communicate with You: We use your contact information to send you updates, newsletters, and other communications related to our services. You can opt-out of receiving these communications at any time.
    <br>
    To Process Transactions: We use your information to process payments and transactions related to the products or services you purchase from us.
    <br>
    To Comply with Legal Obligations: We may process your information to comply with applicable laws, regulations, and legal processes.
    <br>
    To Improve Our Services: We use feedback and usage data to understand how our users interact with our website and services, allowing us to improve and develop new features.
    <br>
    For Marketing and Promotional Activities: With your consent, we may use your information to inform you about promotions, offers, and other marketing activities related to our services. You can opt-out of these activities at any time.
    <br>
    To Prevent Fraud and Ensure Security: We use your information to detect and prevent fraudulent activities, abuse, and other harmful actions, ensuring the safety and security of our website and users.
    <br>
    To Analyze and Research: We use the data for internal analysis, research, and statistical purposes to monitor and improve our services.
    </p>
<br>
<h5>4. How We Share Your Information</h5>
<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may share your information in the following circumstances:</p>
<p>With Service Providers: We may share your information with third-party service providers who perform services on our behalf, such as payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.

    For Business Transfers: In the event of a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred as part of that transaction. We will notify you via email and/or a prominent notice on our website of any change in ownership or use of your personal information.

    To Comply with Legal Obligations: We may disclose your information if required to do so by law or in response to valid requests by public authorities (e.g., a court or a government agency).

    To Protect Our Rights: We may disclose your information when we believe it is necessary to investigate, prevent, or take action regarding potential violations of our terms and conditions, suspected fraud, situations involving potential threats to the safety of any person, illegal activities, or as evidence in litigation in which we are involved.

    With Your Consent: We may share your information with third parties when you have given us your consent to do so.

    For Marketing and Advertising: With your consent, we may share your information with third parties for marketing and advertising purposes.

    Aggregate and De-Identified Information: We may share aggregated or de-identified information, which cannot reasonably be used to identify you. This information may be used for analytics, research, and other purposes.</p>
    
<p>We ensure that any third parties with whom we share your data are required to protect your personal information in accordance with this Privacy Policy and any other appropriate confidentiality and security measures.</p>
<h5>5. How We Protect Your Information</h5>
<p>We are committed to ensuring that your information is secure. To prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online. These measures include:</p>
<p>Data Encryption: We use encryption to protect sensitive information transmitted online. This ensures that your data is secure and protected during transmission.

    Access Controls: We implement strict access controls to limit access to your personal information to authorized personnel only. These controls include password protections, two-factor authentication, and regular access audits.

    Secure Data Storage: We store your personal information on secure servers protected by firewalls and other advanced security technologies to prevent unauthorized access.

    Regular Security Audits: We conduct regular security audits and assessments to identify and address potential vulnerabilities in our systems and processes.

    Employee Training: We provide regular training to our employees on data protection and privacy best practices to ensure they understand and comply with our security policies.

    Incident Response Plan: We have a robust incident response plan in place to promptly address any data breaches or security incidents. This plan includes notifying affected users and regulatory authorities as required by law.

    While we strive to protect your personal information, please be aware that no security measures are perfect or impenetrable. We cannot guarantee the absolute security of your data. It is also important for you to take steps to protect your information, such as keeping your account credentials confidential and using strong passwords.

    If you have any concerns about the security of your information, please contact us at mak7kas02@gmail.com.</p>
<h5>6. Your Data Protection Rights</h5>
<p>Depending on your location, you may have the following data protection rights:</p>
<p>Access: You have the right to request access to the personal information we hold about you.
    Rectification: You have the right to request that we correct any inaccurate or incomplete personal information.
    Erasure: You have the right to request that we delete your personal information, subject to certain conditions.
    Restriction of Processing: You have the right to request that we restrict the processing of your personal information.
    Data Portability: You have the right to request a copy of your personal information in a structured, commonly used, and machine-readable format.
    Object to Processing: You have the right to object to the processing of your personal information for direct marketing purposes.
    To exercise any of these rights, please contact us at [contact email]. We will respond to your request within a reasonable timeframe and in accordance with applicable laws.</p>
<h5>7. Cookies and Tracking Technologies</h5>
<p>Our website uses cookies and other tracking technologies to enhance your browsing experience, analyze site traffic, and understand where our visitors are coming from. By using our website, you consent to the use of cookies and tracking technologies as described in this policy.</p>
<h6>What Are Cookies?</h6>
<p>Cookies are small text files that are placed on your device (computer, smartphone, tablet) when you visit a website. Cookies help us recognize your device and remember your preferences and actions (such as login, language, font size, and other display preferences) over a period of time.</p>
